@page {
    size: A4;
    font-size: 11px;
    margin: 2cm;
  }

@page {
    @bottom-right {
        content: "Seite "counter(page);
    }
    @bottom-left {
        content: "KbS BAV: Standortdatenblatt BAV intern, erstellt am 15.01.25";
    }
    @top-right {
        content: "B077 Betriebsstandort 077";
    }
}

@media print {
    p {
        widows: 4;
        orphans: 4;
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
}

#logo {
    padding-right: 2cm;
    height:2cm;
}

#department {
    font-size: 11px;
    display: inline-block;
    height: 2cm;
}

h1 {
    font-size: 18px;
}

section h1, h2 {
    border-bottom-style: solid;
}

section h1 {
    font-size: 15px;
    border-width: 2.1px;
    page-break-after: avoid;
}

section h2 {
    border-width: 1px;
    font-style: italic;
    font-size: 13px;
    page-break-after: avoid;
}

p, th, td, h3, footer{
    font-size: 12px;
}

#map {
    width: 100%;
}

table, .no_break {
    page-break-inside: avoid;
}

table tr th:first-child, tbody tr td:first-child {
  width: 18em;
  min-width: 18em;
  max-width: 18em;
  word-break: normal;
}

th, td {
    text-align: left;
    padding-right: 0.5cm;
    vertical-align: top;
}

figcaption {
    font-size: 11px;
    font-weight: bold;
    padding-top: 8px;
}

#perimeter {
    height: 1cm;
}

.legend_item {
    height: 1cm;
    display:flex;
    align-items: center;
    flex: 1;
}

.legend_items_container {
    display: flex;
    
}

.legend_item figcaption {
    padding-left: 10px;
    padding-top: initial;
}
